{{> pre }}

<section class="section hero is-dark is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Industry Experienced Developer
      </h1>
      <h2 class="subtitle">
        Simple Scalable Software
      </h2>
    </div>
  </div>
</section>

<section class="section container">
  <div class="tile is-ancestor">
    <div class="tile is-parent has-text-centered">
      <div class="tile is-child">
          <div >
            <i class="fa fa-briefcase sw-feature"></i>
          </div>
        <p class="title">Experience</p>
        <p class="subtitle">A wide range of experience across multiple industries.</p>
      </div>
    </div>
    <div class="tile is-parent has-text-centered">
      <div class="tile is-child">
          <div >
            <i class="fa fa-refresh sw-feature"></i>
          </div>
        <p class="title">Agile</p>
        <p class="subtitle">Eliminate waste and deliver on time.</p>
      </div>
    </div>
    <div class="tile is-parent has-text-centered">
      <div class="tile is-child">
          <div >
            <i class="fa fa-code sw-feature"></i>
          </div>
        <p class="title">Open Source</p>
        <p class="subtitle">I have a firm belief in open source software.  Check out my <a href="http://github.com/CDA0" _target="blank">Github</a>.</p>
      </div>
    </div>
  </div>
</section>
  
{{> post }}