{{> pre }}
  <section class="section hero is-dark is-median">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Industry Exprienced Developers
        </h1>
        <h2 class="subtitle">
          Simple Scalable Software
        </h2>
      </div>
    </div>
  </section>

  <section class="section container">
    <div class="tile is-ancestor">
      <div class="tile is-parent has-text-centered">
        <article class="tile is-child">
          <figure class="image is-4by3">
            <img src="http://bulma.io/images/placeholders/640x480.png">
          </figure>
          <p class="title">Experience</p>
          <p class="subtitle">A wide range of industry experience.</p>
        </article>
      </div>
      <div class="tile is-parent has-text-centered">
        <article class="tile is-child">
          <figure class="image is-4by3">
            <img src="http://bulma.io/images/placeholders/640x480.png">
          </figure>
          <p class="title">Agile</p>
          <p class="subtitle">Eliminate waste and deliver on time.</p>
        </article>
      </div>
      <div class="tile is-parent has-text-centered">
        <article class="tile is-child">
          <figure class="image is-4by3">
            <img src="http://bulma.io/images/placeholders/640x480.png">
          </figure>
          <p class="title">Open Source</p>
          <p class="subtitle">We have a firm belief in open source software.  Check out our Github.</p>
        </article>
      </div>
    </div>
  </section>
  
{{> post }}